# Scalar Expression Queries
Scalar expression queries are a handy way to learn the many capabilities of the SQL dialect in Cosmos DB.

These queries don't have a FROM clause, and thus, they don't actually query items in the container, although we technically do need to specify an arbitrary container to submit the query.

In [1]:
# Setup
%run "notebooks/SQL Queries - setup.ipynb"

## Simple SELECT statement

In [2]:
# Results are returned as objects in an array with auto-assigned properties (e.g., $1, $2)
query(families, """

SELECT "Hello"

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "$1": "Hello"
    }
]

In [3]:
# Use AS to override auto-assigned properties
query(families, """

SELECT "Hello" AS word

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "word": "Hello"
    }
]

In [4]:
# Use VALUE to return a scalar value instead of an object
query(families, """

SELECT VALUE "Hello"

""")

1 document(s) selected (charge= 2.25 RUs)

[
    "Hello"
]

In [5]:
# Return an object with two properties
query(families, """

SELECT
 "Hello" AS word1,
 "World" AS word2

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "word1": "Hello",
        "word2": "World"
    }
]

## Shaping nested arrays and embedded objects

In [6]:
# Use [ and ] characters to nest arrays
query(families, """

SELECT
[
  "Hello",
  "World"
]
 AS words

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "words": [
            "Hello",
            "World"
        ]
    }
]

In [7]:
# Use { and } characters to embed objects
query(families, """

SELECT
{
  "word1": "Hello",
  "word2": "World"
}
 AS words

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "words": {
            "word1": "Hello",
            "word2": "World"
        }
    }
]

In [8]:
# Of course, you can combine nested arrays and embedded objects
query(families, """

SELECT
{
  "words1": ["Hello", "World"],
  "words2": ["How", "Are", "You?"]
}
 AS allWords

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "allWords": {
            "words1": [
                "Hello",
                "World"
            ],
            "words2": [
                "How",
                "Are",
                "You?"
            ]
        }
    }
]

## Arithmetic Operators and Functions

In [9]:
# Arithmetic operators
query(families, """

SELECT
 8 * ((2 + 16) - 2) / 2 AS math1,
 8 * ((2 + 16) - 2) / 2.1 AS math2

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "math1": 64,
        "math2": 60.95238095238095
    }
]

In [10]:
# Math functions
query(families, """

SELECT
 ROUND(3.4) AS mathRound1,		ROUND(3.5) AS mathRound2,
 CEILING(3.4) AS mathCeiling1,	CEILING(3.5) AS mathCeiling2,
 FLOOR(3.4) AS mathFloor1,		FLOOR(3.5) AS mathFloor2,
 ABS(-5) AS mathAbs1,			ABS(5) AS mathAbs2,
 SIN(28) AS mathSin,
 COS(28) AS mathCos,
 TAN(28) AS mathTan,
 LOG(16) AS mathLog,
 PI() AS mathPi

""")

1 document(s) selected (charge= 2.26 RUs)

[
    {
        "mathRound1": 3,
        "mathRound2": 4,
        "mathCeiling1": 4,
        "mathCeiling2": 4,
        "mathFloor1": 3,
        "mathFloor2": 3,
        "mathAbs1": 5,
        "mathAbs2": 5,
        "mathSin": 0.27090578830786904,
        "mathCos": -0.9626058663135666,
        "mathTan": -0.28142960456426525,
        "mathLog": 2.772588722239781,
        "mathPi": 3.141592653589793
    }
]

In [11]:
# Logical operators
query(families, """

SELECT
 ("hot" = "cold" AND "up" = "down" OR 1 = 1) AS logical1,
 ("hot" = "cold" AND ("up" = "down" OR 1 = 1) ) AS logical2

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "logical1": true,
        "logical2": false
    }
]

## Comparison, Ternary, and Coalesce Operators

In [12]:
# Comparison and ternary operators
query(families, """

SELECT
 (2 > 3 ? "higher" : "lower or equal") AS ternary

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "ternary": "lower or equal"
    }
]

In [13]:
# Coalesce operator
query(families, """

SELECT
 (undefined ?? undefined ?? "third") AS coalesce1,
 (undefined ?? "second" ?? "third") AS coalesce2,
 ("first" ?? undefined ?? "third") AS coalesce3

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "coalesce1": "third",
        "coalesce2": "second",
        "coalesce3": "first"
    }
]

## Type Checking Functions

In [14]:
# Type checking functions
query(families, """

SELECT
 IS_ARRAY(6) AS isArray1,		IS_ARRAY([6]) AS isArray2,
 IS_BOOL(6) AS isBool1,			IS_BOOL(false) AS isBool2,
 IS_NULL(6) AS isNull1,			IS_NULL(null) AS isNull2,
 IS_OBJECT("hello") AS IsObj1,	IS_OBJECT({"word": "hello"}) AS isObj2

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "isArray1": false,
        "isArray2": true,
        "isBool1": false,
        "isBool2": true,
        "isNull1": false,
        "isNull2": true,
        "IsObj1": false,
        "isObj2": true
    }
]

## String Operators and Functions

In [15]:
# String concatenation operator
query(families, """

SELECT
 "Hello" || " " || "World" AS stringConcat

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "stringConcat": "Hello World"
    }
]

In [16]:
# String functions
query(families, """

SELECT
 CONCAT("A", "b", "c", "d")	AS strConcat,       CONTAINS("Abcdef", "cde")	AS strContains,
 STARTSWITH("Abcdef", "Ab")	AS strStartsWith,   ENDSWITH("Abcdef", "cdef")	AS strEndsWith,
 INDEX_OF("Abcdef", "de")	AS strIndexOf1,     INDEX_OF("Abcdef", "df")	AS strIndexOf2,
 LEFT("Abcdef", 3)			AS strLeft,         RIGHT("Abcdef", 3)			AS strRight,
 SUBSTRING("Abcdef", 2, 3)	AS strSubstring,    LENGTH("Abcdef")			AS strLength,
 LOWER("Abcdef")			AS strLower,        UPPER("Abcdef")			    AS strUpper

""")

1 document(s) selected (charge= 2.29 RUs)

[
    {
        "strConcat": "Abcd",
        "strContains": true,
        "strStartsWith": true,
        "strEndsWith": true,
        "strIndexOf1": 3,
        "strIndexOf2": -1,
        "strLeft": "Abc",
        "strRight": "def",
        "strSubstring": "cde",
        "strLength": 6,
        "strLower": "abcdef",
        "strUpper": "ABCDEF"
    }
]

In [17]:
# StringToArray
query(families, """

SELECT
    StringToArray('[]') AS a1, 
    StringToArray("[1,2,3]") AS a2,
    StringToArray('["str",2,3]') AS a3,
    StringToArray('[["5","6","7"],["8"],["9"]]') AS a4,
    StringToArray('[1,2,3,[4,5,6],[7,8]]') AS a5

""")

1 document(s) selected (charge= 2.27 RUs)

[
    {
        "a1": [],
        "a2": [
            1,
            2,
            3
        ],
        "a3": [
            "str",
            2,
            3
        ],
        "a4": [
            [
                "5",
                "6",
                "7"
            ],
            [
                "8"
            ],
            [
                "9"
            ]
        ],
        "a5": [
            1,
            2,
            3,
            [
                4,
                5,
                6
            ],
            [
                7,
                8
            ]
        ]
    }
]

In [18]:
# StringToBoolean
query(families, """

SELECT 
    StringToBoolean("true") AS b1, 
    StringToBoolean("    false") AS b2,
    StringToBoolean("false    ") AS b3

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "b1": true,
        "b2": false,
        "b3": false
    }
]

In [19]:
# StringToNull
query(families, """

SELECT 
    StringToNull("null") AS n1, 
    StringToNull("  null ") AS n2,
    IS_NULL(StringToNull("null   ")) AS n3

""")

1 document(s) selected (charge= 2.25 RUs)

[
    {
        "n1": null,
        "n2": null,
        "n3": true
    }
]

In [20]:
# StringToNumber
query(families, """

SELECT 
    StringToNumber("1.000000") AS num1, 
    StringToNumber("3.14") AS num2,
    StringToNumber("   60   ") AS num3, 
    StringToNumber("-1.79769e+308") AS num4

""")

1 document(s) selected (charge= 2.26 RUs)

[
    {
        "num1": 1,
        "num2": 3.14,
        "num3": 60,
        "num4": -1.79769e+308
    }
]

In [21]:
# StringToObject
query(families, """

SELECT 
    StringToObject("{}") AS obj1, 
    StringToObject('{"A":"String"}') AS obj2,
    StringToObject('{"B":[1,2,3]}') AS obj3,
    StringToObject('{"C":[{"b1":[5,6,7]},{"b2":8},{"b3":9}]}') AS obj4

""")

1 document(s) selected (charge= 2.26 RUs)

[
    {
        "obj1": {},
        "obj2": {
            "A": "String"
        },
        "obj3": {
            "B": [
                1,
                2,
                3
            ]
        },
        "obj4": {
            "C": [
                {
                    "b1": [
                        5,
                        6,
                        7
                    ]
                },
                {
                    "b2": 8
                },
                {
                    "b3": 9
                }
            ]
        }
    }
]

In [22]:
# ToString
query(families, """

SELECT 
    ToString(1.0000) AS str1, 
    ToString("Hello World") AS str2, 
    ToString(NaN) AS str3, 
    ToString(Infinity) AS str4,
    ToString(IS_STRING(ToString(undefined))) AS str5, 
    ToString(0.1234) AS str6, 
    ToString(false) AS str7, 
    ToString(undefined) AS str8

""")

1 document(s) selected (charge= 2.26 RUs)

[
    {
        "str1": "1",
        "str2": "Hello World",
        "str3": "NaN",
        "str4": "Infinity",
        "str5": "false",
        "str6": "0.1234",
        "str7": "false"
    }
]

## Date/Time Functions

In [23]:
# Date/Time
query(families, """

SELECT
    GETCURRENTDATETIME() AS currentUtcDateTime,
    GETCURRENTTIMESTAMP () AS currentUtcTimestamp

""")

1 document(s) selected (charge= 2.26 RUs)

[
    {
        "currentUtcDateTime": "2020-06-13T14:32:01.4618792Z",
        "currentUtcTimestamp": 1592058721461
    }
]

## Array Functions

In [24]:
# Array
query(families, """

SELECT
 ARRAY_CONCAT(["A", "B"], ["1", "2"], ["#"])	AS arrConcat,
 ARRAY_CONTAINS(["1A", "1B", "1C"], "1B")		AS arrContains,
 ARRAY_LENGTH(["1A", "1B", "1C"])				AS arrLength,
 ARRAY_SLICE(["1A", "1B", "1C", "1D"], 1, 2)	AS arrSlice

""")

1 document(s) selected (charge= 2.26 RUs)

[
    {
        "arrConcat": [
            "A",
            "B",
            "1",
            "2",
            "#"
        ],
        "arrContains": true,
        "arrLength": 3,
        "arrSlice": [
            "1B",
            "1C"
        ]
    }
]